<!DOCTYPE html>
<html>

<head>

    <title>My Blog</title>

    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <nav>

    <div class="logo">📝 My Blog</div>

    <ul>

        <li><a href="#">Home</a></li>

        <li><a href="#create-blog">Create Blog</a></li>

    </ul>

</nav>

    <header>

        <h1>📝 My Blog</h1>

        <p>Write • Share • Inspire</p>

<h3>Create and manage your blogs with Docker.</h3>

<p class="hero-subtitle">
    ✨ Simple • Secure • Dockerized Blog Application
</p>

<a href="#create-blog" class="hero-btn">
    🚀 Create Blog
</a>

    </header>

    <div class="form-container" id="create-blog">

        <h2>✍ Create New Blog</h2>

        <p class="form-text">
            Share your thoughts and ideas with everyone.
        </p>

        <form action="/add-blog" method="POST">

            <input
                type="text"
                name="title"
                placeholder="Enter Blog Title"
                required>

            <textarea
                name="content"
                placeholder="Write your blog..."
                rows="5"
                required></textarea>

            <button type="submit">
                🚀 Publish Blog
            </button>

        </form>

    </div>

   <div class="container">

    <div class="stats">

        <div class="stat-card">

            <h2><%= blogs.length %></h2>

            <p>Total Blogs</p>

        </div>

    </div>

    <h2 class="blog-heading">📚 Latest Blogs</h2>

        

        <% blogs.forEach(blog => { %>

            <div class="card">

                <h2>🌟 <%= blog.title %></h2>

<p class="date">
📅 Created Today
</p>

                <p><%= blog.content %></p>

                <form action="/delete-blog/<%= blog._id %>" method="POST">

                 <button class="delete-btn">
    🗑 Delete
</button>
                </form>

            </div>

        <% }) %>

    </div>
   <footer>

    <h3>📝 Blog Application Using Docker</h3>

    <p>Developed by Nandini Naidu</p>

    <p>© 2026 All Rights Reserved</p>

</footer>

</body>

</html>